.search {
  width: 20%;
  margin: 0 40%;
}

.container {
  margin: 20px auto;
}

.stretch {
  width: 100%;
}

.lowstretch {
  width: 75%;
}
.white {
  color: #FFFFFF;
}

.mat-button {
  color: white;
}

.mat-form-field {
  width: 100%;
  color: white;
}




.menuitem {
  margin: 20px;
}

.minimenuitem {
  width: 90%;
  margin: 5px 5%;
}

.mat-icon {
  margin-left: 10px;
}
