<table class="stretch">
  <tr>
    <td align="center">
      <div class="container" *ngFor="let ht of articles">
        <table class="lowstretch">
          <tr>
            <td align="center">
              <div [innerHTML]="ht.html"></div>
            </td>
          </tr>
          <tr style="background-color: #696969">
            <td align="center">
              <button mat-raised-button class="menuitem" [matMenuTriggerFor]="matMenuArticle">
                <span>View reviews</span>
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #matMenuArticle="matMenu">
                <button mat-raised-button color="primary" class="minimenuitem"
                  [routerLink]="['/review', ht.id.substring(7)]">View reviews</button>
                <button mat-raised-button color="primary" class="minimenuitem"
                  [routerLink]="['/reviewPdf', ht.id.substring(7)]">View reviews (PDF)</button>
              </mat-menu>

              <button mat-raised-button [routerLink]="['/addReview', ht.id.substring(7)]">Create a review</button>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>