.container {
  margin: 40px auto;
}

.stretch {
  width: 100%;
}

.lowstretch {
  width: 75%;
}
.white {
  color: #FFFFFF;
}



.menuitem {
  margin: 20px;
}

.minimenuitem {
  width: 90%;
  margin: 5px 5%;
}

.mat-icon {
  margin-left: 10px;
}
