<mat-toolbar>
    <h3 routerLink='/'>Scientific Articles</h3>

    <ng-container>
        <button mat-button routerLink='/'>Home</button>
        <button mat-button routerLink="/advancedSearch">Advanced search</button>
    </ng-container>
    <ng-container *ngIf="!currentUser">
        <span class="divider"></span>
        <button mat-button routerLink="/register">Register</button>
        <button mat-button routerLink="/login">Login</button>
    </ng-container>
    <ng-container *ngIf="currentUser">
        <ng-container *ngIf="currentUser.role === 'AUTHOR'">
            <button mat-button routerLink="/myArticles">My articles</button>
            <button mat-button routerLink="/addArticle">Add article</button>
            <span class="divider"></span>
            <button mat-button (click)="logout()">Logout</button>
        </ng-container>

        <ng-container *ngIf="currentUser.role === 'REVIEWER'">
            <button mat-button routerLink="/myArticles">My articles</button>
            <button mat-button routerLink="/addArticle">Add article</button>
            <button mat-button routerLink="/toReview">To review</button>
            <span class="divider"></span>
            <button mat-button (click)="logout()">Logout</button>
        </ng-container>

        <ng-container *ngIf="currentUser.role === 'EDITOR'">
            <button mat-button routerLink="/myArticles">My articles</button>
            <button mat-button routerLink="/addArticle">Add article</button>
            <button mat-button routerLink="/toReview">To review</button>
            <button mat-button routerLink="/toBeReviewed">New</button>
            <button mat-button routerLink="/reviewed">Reviewed</button>
            <button mat-button routerLink="/revisionRecieved">Revised</button>

            <span class="divider"></span>
            <button mat-button *ngIf="currentUser" (click)="logout()">Logout</button>
        </ng-container>
    </ng-container>

</mat-toolbar>