<mat-toolbar>
    <h3>Scientific Articles</h3>
    <button mat-button routerLink="/addArticle">Add Article</button>
    <button mat-button routerLink="/addReview">Add Review</button>
    <button mat-button *ngIf="currentUser" routerLink="/myArticles">My articles</button>
    <button mat-button *ngIf="!currentUser" routerLink="/register">Register</button>
    <button mat-button *ngIf="!currentUser" routerLink="/login">Login</button>
    <button mat-button *ngIf="currentUser" (click)="logout()">Logout</button>
</mat-toolbar>
