<div class="container">
    <table class="stretch">
        <tr>
          <td align="center">
            <div class="container" *ngFor="let article of articles">
              <table class="lowstretch">
                <tr>
                  <td align="center">
                    <div [innerHTML]="article.html"></div>
                  </td>
                </tr>
                <tr style="background-color: #696969">
                  <td align="center">
                    <button mat-raised-button (click)="accept(article)">Accept</button>
                    <button mat-raised-button (click)="reject(article)">Reject</button>
                    <button mat-raised-button (click)="requestRevision(article)">Request additional reviews</button>

                    <button mat-raised-button class="menuitem" [matMenuTriggerFor]="matMenuArticle">
                      <span>View reviews</span>
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #matMenuArticle="matMenu">
                      <button mat-raised-button color="primary" class="minimenuitem" [routerLink]="['/review', article.id.substring(7)]">View reviews</button>
                      <button mat-raised-button color="primary" class="minimenuitem" [routerLink]="['/reviewPdf', article.id.substring(7)]">View reviews (PDF)</button>
                    </mat-menu>


                    <button mat-raised-button class="menuitem" [matMenuTriggerFor]="matMenuReview">
                      <span>View article</span>
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #matMenuReview="matMenu">
                      <button mat-raised-button color="primary" class="minimenuitem" [routerLink]="['/article', article.id.substring(7)]">View article</button>
                      <button mat-raised-button color="primary" class="minimenuitem" [routerLink]="['/articlePdf', article.id.substring(7)]">View article (PDF)</button>
                    </mat-menu>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>

</div>
