/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #333333; }

.list-item-article {
  max-width: 100%;
  margin: auto;
  background: white;
  padding: 10px;
}

.list-item-content {
  width: 100%;
}

.list-item-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-item-margin-big {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-item-card {
  background: #fff;
  box-shadow: 0 15px 30px rgba(255,255,255,0.12), 0 5px 5px rgba(255,255,255,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/*.list-item-card:hover {*/
  /*box-shadow: 0 14px 28px rgba(255,255,255,0.25), 0 10px 10px rgba(255,255,255,0.22);*/
/*}*/

.list-item-authorColumn {
  width: 1%;
}


.article-detail-article {
  max-width: 75%;
  margin: auto;
  background: white;
  padding: 10px;
}

.article-detail-content {
  width: 100%;
}

.article-detail-h1 {
  margin-bottom: 40px;
}

.article-detail-authors {
  width: 100%;
}

.article-detail-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.article-detail-margin-big {
  margin-top: 40px;
  margin-bottom: 40px;
}

.article-detail-child-padding5 * {
  padding: 5px;
}

.review-view-article {
  max-width: 75%;
  margin: auto;
  background: white;
  padding: 10px;
}

.review-view-content {
  width: 100%;
}

.review-view-h1 {
  margin-bottom: 40px;
}

.review-view-authors {
  width: 100%;
}

.review-view-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.review-view-margin-big {
  margin-top: 40px;
  margin-bottom: 40px;
}

.review-view-child-padding5 * {
  padding: 5px;
}

.review-view-comment {
  background-color: #FFFF99AA;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px;
  width: fit-content;
}

.review-view-block {
  display: block;
}

.review-view-questionaire {
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  padding: 10px;
}

.review-view-lp30 {
  padding-left: 30px;
}

.coverletter-detail-leftmargin {
  margin-left: 40px;
}

.coverletter-detail-coverletter {
  max-width: 40%;
  margin: auto;
  background: white;
  padding: 10px;
}

.coverletter-detail-content {
  width: 100%;
}

.coverletter-detail-h1 {
  margin-bottom: 40px;
}

.coverletter-detail-authors {
  width: 100%;
}

.coverletter-detail-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.coverletter-detail-margin-big {
  margin-top: 40px;
  margin-bottom: 40px;
}

.coverletter-detail-child-padding5 * {
  padding: 5px;
}

.mat-snack-bar-container {
  background-color: #333333;
  color: white;
  border: 1px solid #666666;
  box-shadow: 0 0 8px #c2185b;
}

.mat-snack-bar-container:hover {
  box-shadow: 0 0 16px #c2185b;
}
