<div class="container">
    <mat-toolbar>
        <table class="stretch">
            <tr>
                <td align="left">

                    <div><input type="file" accept="text/xml" (change)="handleFileInputReview($event)"></div>
                    
                </td>
                <td align="right">
                    
                    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
                </td>
            </tr>
        </table>
    </mat-toolbar>
    <table>
        <tr>
            <td class="halfScreen">
                <div #reviewXonomy class="xonomyDiv"></div>
            </td>
            <td class="halfScreen">
                <div #reviewHTML class="htmlView"></div>
            </td>
        </tr>
    </table>
</div>