<div class="container">
    <mat-tab-group>
        <mat-tab label="Article">
            <mat-toolbar>
                <div><input type="file" (change)="handleFileInput($event, articleXML, articleXonomy)"></div>
            </mat-toolbar>
            <table>
                <tr>
                    <td>
                        <div #articleXonomy class="xonomyDiv"></div>
                    </td>
                    <td>
                        <div #articleHTML></div>
                    </td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab label="Cover letter">
            <mat-toolbar>
                <div><input type="file" (change)="handleFileInput($event, coverLetterXML, coverLetterXonomy)"></div>
            </mat-toolbar>
            <table>
                <tr>
                    <td>
                        <div #coverLetterXonomy class="xonomyDiv"></div>
                    </td>
                    <td>
                        <div #coverLetterHTML></div>
                    </td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>